

  <!-- Page Content -->
  <div class="container py-5">
    <h1 class="mb-4">Assigned Interviews</h1>
   <% for(data of schedule){ %>
    <div class="card">
      <div class="card-body">
       
        <h5 class="card-title"> <%= data.interview.company %> </h5>
        <h6 class="card-subtitle mb-2 text-muted"> Interview </h6>
        <p class="card-text">Interview Date: <%= data.interview.date %> </p>
        <h6 class="card-subtitle mb-2 text-muted">Assigned Students:</h6>
         <% for(let i=0; i< data.student.length; i++){ %>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
         
           <%= data.student[i].name %>
           
          <a href="/std/profile/<%= data.student[i]._id %>">  <span class="badge bg-success"> view student</span></a>
          </li>
         
          <!-- Add more assigned students here -->
        </ul>
       <% } %>
      </div>
    </div>
    <% } %>
  </div>

 
